#header-bg {
    background-image: url("images/header.jpg");
    min-height: 570px;
    width: 100%;
    position: relative;
}

#title-content {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px;
    text-align: center;
    width: 100%;
    padding: 5px;
}

img {
    border-radius: 5px;
    max-width: auto;
    max-height: 50%;
}

.product {
    max-height: 400px;
    width: 100%;
}